doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='../node_modules/c3/c3.min.css')
    script(src='../node_modules/d3/d3.min.js')
    script(src='../node_modules/c3/c3.min.js')
  body
    block content
